.toast {
  position: fixed;
  z-index: 99999;
  top: 20px;
  left: 50%;
  width: 20rem;
  max-width: 100%;
  height: auto-content;
  background-color: var(--paper);
  color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: translate(-50%, -50px);
}

.toast.show {
  opacity: 1;
  transform: translate(-50%, 0);
}
.toast span {
  align-self: start;
}

.toast .close {
  margin-left: 5px;
  color: var(--primary);
  cursor: pointer;
}
